body {
  margin: 2%;
  background: transparent;
}

* {
  box-sizing: border-box;
}

.post:before {
  content: attr(class);
  white-space: pre;
  font-size: 1.1em;
  font-family: var(--sans-serif);
  font-weight: bold;
  color: #152935;
  position: absolute;
  z-index: 50;
  margin: 6%;
  mix-blend-mode: overlay;
}

fieldset,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  outline: 0;
}

fieldset,
blockquote,
table {
  margin: 1rem 0;
}

label {
  font-family: var(--sans-serif);
  font-size: .9em;
}

label:before {
  content: " ";
  display: table;
}

input {
  height: 2.25rem;
  padding: .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: .3rem;
  border-radius: 1rem;
  border: 1px solid var(--gray);
  outline: 0;
  box-shadow: none;
}

table {
  border-spacing: 0;
  max-width: 99%;
  width: 100%;
  border-collapse: collapse;
  overflow: auto !important;
}

th {
  text-align: left;
  font-weight: 700
}

td,
th {
  padding: .25rem;
}

td {
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
  margin: 1% 0;
}

blockquote {
  padding: .25rem 1.5rem;
  border-left: 5px solid var(--gray);
}

a {
  color: #0074d9;
  text-decoration: none
}

p {
  margin: 0;
}

code {
  background: var(--gray);
}

pre {
  background: var(--soft-gray);
  font-size: .9em;
  font-family: monospace;
}

/*****************************************************
* Assignment 4
* FLEXBOX STYLESHEET MODIFICATION 
******************************************************** */
header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 40;
}

header h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1:after {
  display: block;
  font-size: .4em;
}

.post,
.container {
  flex: unset;
  display: unset;
  flex-direction: unset;
  justify-content: unset;
  flex-wrap: unset;
  flex-direction: unset;
  flex-flow: unset;
  justify-content: unset;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0px solid white;
  opacity: .76;
  filter: grayscale(.55) saturate(3);
}

.image {
  max-height: 100%;
  overflow: hidden;
  min-width: 50%;
  max-width: 100%;
  justify-content: center;
}

img:hover {
  opacity: .8;
}

.caption {}

/*****************************************************
* Assignment6
* RESPONSIVE
******************************************************** */
.container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: 70vw;
}

.css-grid {
  margin-top: 5em;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

/* Small screens (default) */
html {
  font-size: 100%;
}

header h1:after {
  content: "mobile";
}

.post {
  margin: 1%;
}

.square {
  order: 1;
}

.square .container:before {
  content: "feature post";
  position: absolute;
  z-index: 20;
  background: var(--yellow);
  font-family: var(--sans-serif);
  font-size: 1em;
  width: 100%;
  left: 0;
  top: 0;
}

.square .container {
  border-color: var(--yellow);
  padding-top: 1.3em;
}

.post-links {
  padding: .75% 0;
  position: absolute;
  bottom: 0%;
  left: 1%;
  background: white;
  width: 98%;
}

/* **************************************/
/* Medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%;
  }

  header h1:after {
    content: "tablet";
  }

  .css-grid {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }

  .image {
    transition: width 800ms ease;
    border-right-size: .25rem;
    border-right-color: white;
    border-right-style: solid;
  }

  .container img {
    min-height: 100%;
  }

  .half {
    grid-column: 2 span;
  }

  .half .container {
    height: 40vw;
    min-height: 100%;
  }

  .half .caption {}

  .square {
    grid-column: 2 span;
    grid-row: 2 span;
    grid-row: 1;
  }

  .square .container {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 1fr;
    min-height: 60vw;
  }

  .square .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: unset;
  }

  .square .image img {
    height: 100%;
    min-height: 100%;
  }

  .square .card {}

  .fr .container {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 1fr;
    height: 50vw;
  }

  .caption>p ::first-line {
    color: red;
    padding-top: 0px;
  }

  .fr .image {
    width: 100%;
    height: 20vw;
    overflow: hidden;
    visibility: visible;
    transition: height 600ms ease;
    border-right-size: .25rem;
    border-right-color: white;
    border-right-style: solid;
  }

  .fr .image:hover,
  .fr .image:focus {
    height: 38vw;
    max-height: 100%;
    padding: 2% 1%;
    margin: 0% 1%;
    border-right-size: 0;
  }

  .fr .image:hover~.card .caption {
    visibility: hidden;
  }

  .fr .image:hover~.post-links {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .card {
    max-height: 100%;
    overflow: hidden;
    padding-bottom: 2em;
  }

  /* .caption {
  }

  .section-title {
  }

  div[class^="grid-"] {
  } */

  .caption li {
    padding: .25% 1%;
  }
}

/* END MEDIUM *************************/
/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
