html {
  font-size: 100%
}

body {
  counter-reset: my-counter;
  margin: unset;
  padding: unset;
}

* {
  font-family: monospace;
  outline: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  display: grid;
  padding-top: 3rem;
}

.hello {
  white-space: pre-line;
  font-weight: bold;
  font-size: 1em;
  background: #211e1e;
  /*   background-image: linear-gradient(to right, #2a2828, #211e1e, #04175f); */
  background-image: linear-gradient(to right, #2a2828, #211e1e, #000);
  background-size: 300% 120%;
  color: white;
  height: 90%;
  transform: scale(1.01);
  left: 0;
  position: relative;
  animation: Gradient 10s ease-out infinite;
}

.content {
  text-transform: uppercase;
  font-size: 1.4em;
  vertical-align: bottom;
  line-height: 1.3em;
  word-break: none;
  width: 70%;
  max-width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

a {
  text-decoration: none;
  counter-increment: my-counter;
  content: counter(my-counter);
  word-break: none;
}

.content a {
  border: 2px solid white;
  border: 4px solid white;
  word-wrap: break-word;
  display: flex;
  line-height: 100%;
}

.content a::before {
  content: counter(my-counter)".";
  color: #888;
  font-size: .7em;
  margin: 0 .6rem;
}

.content a:hover {
  color: black;
  background: #eee;
  font-style: italic;
}

h1 {
  font-weight: normal
}

a:visited,
a {
  color: #03020a;
}

.hello {
  position: relative;
  z-index: 2;
}

.popup-menu {
  width: 30%;
  max-width: 200px;
  box-shadow: inset 29px 0 0 0 rgba(255, 255, 255, .71);
  height: 0%;
  color: white;
  bottom: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  transition: height 500ms ease-in-out;
  mix-blend-mode: overlay;
}

.block-name {
  white-space: pre;
  position: absolute;
  color: white;
  z-index: 4;
  bottom: 0;
  right: 0;
  margin: 0 4%;
}

.hello:hover>.popup-menu,
.hello:focus>.popup-menu,
.hello:focus-within>.popup-menu {
  height: 77%;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

