html(font-size:130%) body {
  counter-reset: my-counter;
  width: 80%;
}

* {
  font-family: monospace;
  outline: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
}

.hello {
  white-space: pre-line;
  font-weight: bold;
  background: #fff;
  border: 4px solid #fff;
  vertical-align: bottom;
  font-size: 1.12em;
  background: #211e1e;
  background-image: linear-gradient(to right, #000, #211e1e, #04175f);
  background-size: 400% 400%;
  color: white;
  animation: Gradient 25s linear infinite;
}

.content {
  text-transform: uppercase;
  padding: .94rem 0px;
  font-size: 1.42em;
  vertical-align: bottom;
  line-height: 1.8rem;
}

a:visited,
a {
  color: #03020a;
}

a {
  text-decoration: none;
  counter-increment: my-counter;
  content: counter(my-counter);
}

.content a::before {
  content: counter(my-counter)".";
  color: #888;
  margin-left: 4px;
  margin-right: 1px;
}

.content a:hover {
  color: black;
  background: #eee;
  font-style: italic;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}


.hello {
  position: relative;
  z-index: 2;
}

.popup-menu {
  width: 30%;
  right: 0;
  background: #FF5722;
  height: 0%;
  color: white;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  position: absolute;
  transition: height 300ms ease;
}

.hello:hover>.popup-menu,
.hello:focus>.popup-menu,
.hello:focus-within>.popup-menu {
  visibility: visible;
  height: 27%;
}