body {
  background-color: black;
  background: radial-gradient(circle at top right, rgba(6, 17, 50, 0.7), rgba(0, 0, 0, 1));
}

.container {
  height: 80%;
  margin: 5%;
}

.planet::after {
  content: attr(class);
  color: white;
  position: absolute;
  font-size: 1rem;
  margin-top: -30px;
  display: table;
  opacity: .7;
  z-index: 20;
}

.planet {
  margin: 15px 30px;
  box-sizing: border-box;
  border-radius: 70%;
  background: black;
  display: inline-grid;
  z-index: 10 !important;
  box-shadow: 0 0 0px rgba(250, 250, 250, 0);
  transition: box-shadow 300ms ease-out;
}

.planet:hover {
  box-shadow: 0 0 30px rgba(250, 250, 250, .5);
}

.core {
  background-color: yellow;
  border-color: orange;
  box-sizing: border-box;
  border-style: solid;
  border-width: .5rem;
  border-radius: 70%;
  display: inline-grid;
  opacity: .8;
}

.mantle {
  padding: 20%;
  box-sizing: content-box;
  background-color: orangered;
  border-color: red;
  border-width: .25rem;
  border-style: solid;
  border-radius: 70%;
  display: inline-grid;
  opacity: .8;
}

.crust {
  padding: 10%;
  box-sizing: content-box;
  background-color: brown;
  border-color: #720f0f;
  border-style: solid;
  border-width: .25rem;
  border-radius: 70%;
  display: inline-grid;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  filter: saturate(0);
  transition: opacity 800ms ease-in-out;
}

.crust:hover {
  opacity: .75;
  z-index: 20;
  filter: saturate(2);
  transform: skewY(2deg);
}

.mercury {
  width: 70px;
  height: 70px;
  border: double .3rem transparent;
  background-image: linear-gradient(20deg, #b6adab 20%, #dfdbda 80%), radial-gradient(circle at top left, #b6adab, #dfdbda);
  background-origin: border-box;
}

.venus {
  height: 110px;
  width: 110px;
  border: double .5em transparent;
  background-image: linear-gradient(20deg, #b8b447 1%, #b1af60 99%), radial-gradient(circle at top left, #b8b447, #b1af60);
  background-origin: border-box;
}

.earth {
  height: 130px;
  width: 130px;
  border: double .23rem transparent;
  background-image: radial-gradient(circle at top left, rgba(0, 105, 242, .8), rgba(51, 156, 59, 1)), linear-gradient(150deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, .6)), linear-gradient(50deg, #2b6cc0, #4a81ec);
  background-origin: border-box;
  box-shadow: inset 0px -32px 40px rgba(255, 255, 255, .095), inset 14px -4px 50px #339c3b, inset 15px -15px 100px #1078ff;
}

.earth:hover {
  border-width: .35rem !important
}

.mars {
  height: 120px;
  width: 120px;
  border: double .5rem transparent;
  background-image: linear-gradient(50deg, rgba(254, 92, 67, .7), rgba(247, 48, 15, .7)), radial-gradient(circle at top left, #FE5C43, #2b0903);
  background-origin: border-box;
}

.jupiter {
  height: 220px;
  width: 220px;
  border: double .5rem transparent;
  background-image: linear-gradient(180deg, #D16F1B 0%, #E89150 25%, #D16F1B 50%, #E89150 75%, #D16F1B 100%), radial-gradient(circle at top left, #D16F1B, #E89150);
  background-origin: border-box;
}

.saturn:before {
  content: " .";
  color: white;
  position: absolute;
  box-shadow: -29px 5px rgba(209, 170, 94, .7), 29px 5px rgba(209, 170, 94, .6), 0px 12px rgba(209, 170, 94, .74);
  border: 9px solid rgba(250, 250, 250, .06);
  display: inline-grid;
  width: 180px;
  margin: 50px -20px;
  z-index: 100;
  box-sizing: content-box;
  border-radius: 70%;
  mix-blend-mode: multiply;
}

.saturn:hover:before {
  mix-blend-mode: normal;
}

.saturn {
  height: 180px;
  width: 180px;
  border: double .5rem transparent;
  background-image: linear-gradient(-20deg, #D1AA5E 0%, #888 25%, #D1AA5E 50%, #888 75%, #D1AA5E 100%), radial-gradient(circle at top left, #D1AA5E, #888);
  background-origin: border-box;
}

.uranus {
  height: 160px;
  width: 160px;
  border: double .5rem transparent;
  background-image: linear-gradient(#9DB1BF, #6fbfe5), radial-gradient(circle at top left, #9DB1BF, #6fbfe5);
  background-origin: border-box;
}

.neptune {
  height: 155px;
  width: 155px;
  border: double .4rem transparent;
  background-image: linear-gradient(20deg, #519dff 20%, rgba(3, 103, 232, .7) 38%, #519dff 60%, rgba(3, 103, 226, .4) 80%, rgba(81, 157, 255, .6) 100%), radial-gradient(circle at top left, #357cd9, #073066);
  background-origin: border-box;
}

.pluto {
  width: 60px;
  height: 60px;
  border: double .15em transparent;
  background-image: linear-gradient(20deg, #805F47 20%, #854339 80%), radial-gradient(circle at top left, #805F47, #854339);
  background-origin: border-box;
}

.stars {
  z-index: 1 !important;
}

.stars:hover {
  box-shadow: 0 2px 10px white;
  opacity: 1;
}

.star0 {
  width: 2px;
  height: 2px;
  background: #F9E547;
  border-radius: 2px;
}

.star1 {
  width: 2px;
  height: 2px;
  border-radius: 10px;
  background: white;
  opacity: .7;
}

.star2 {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: #777;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .025)
}

#starrysky {
  position: fixed;
}

@keyframes starglow {
  to {
    box-shadow: 0 10px 10px white;
  }

  from {
    box-shadow: 0 10px 0px transparent;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}

.star1 {
  opacity: .7;
  border-radius: 50%;
  animation: starglow 1600ms infinite;
}

.star0 {
  animation-name: twinkle;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}
