/*****************************************************
* Assignment 4
* FLEXBOX STYLESHEET
******************************************************** */
:root {
    --navy: #30588c;
    --soft-gray: #f4f7fb;
    --almost-black: #152935;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 1.2em;
    margin: 0.67em 0;
    margin-top: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--almost-black);
}

.container {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 3%;
    border-radius: 7px;
}

img {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 200px;
}

.image {
    width: 100%;
    flex: 1 200px;
    padding: 3%;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 10 150px;
    justify-content: space-between;
}

.section-title {
    height: auto;
    padding-top: 2%;
}

.section-title h1 {
    margin: 0px;
}

.caption {
    width: 100%;
    height: 100%;
    max-height: 250px;
    overflow-y: scroll;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0;
    flex: 1 100px;
    overflow-x: hidden;
}

.post-links {
    border-top: 1px solid rgba(223, 227, 230, 0.42);
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 2;
    padding-top: 2%;
    margin-top: 2%;
}

.caption::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
}

.caption::-webkit-scrollbar-thumb {
    background: #dfe3e6;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.post-links a {
    background: var(--soft-gray);
    border-radius: 7px;
    padding: 0 2%;
    align-items: center;
    white-space: pre;
    display: table;
    padding: 0 12%;
    color: rgba(136, 151, 162, 0.75);
    transition: color 300ms ease-in;
    font-size: .85rem;
    width: 100%;
    border: 1px solid rgba(136, 151, 162, 0.15);
}

.post-links a:hover {
    color: var(--navy);
}

div {
    overflow: scroll;
}

/*****************************************************
  * Assignment 5
  * CSS GRID STYLESHEET
  ******************************************************** */
html {
    font-size: 100%;
    background: var(--soft-gray);
}

* {
    box-sizing: border-box
}

body {
    margin: 2%;
    background: transparent;
}

.css-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 100%));
    grid-template-rows: repeat(4, minmax(100px, 100%));
    height: 100%;
    grid-gap: .5rem;
    padding: 2%;
}

div[class^="grid"] {
    border: 1px solid #dfe3e6;
    background: white;
    border-radius: 7px;
}

div[class^="grid"]:before {
    content: attr(class);
    font-size: 1em;
    background: #152935ed;
    color: white;
    padding: 0 1%;
    margin: .75%;
    position: absolute;
    z-index: 5;
}

div[class^="grid"] img {
    filter: grayscale(.75);
}

.half {
    grid-column: 2 span;
}

.square {
    grid-column: 2 span;
    grid-row: 2 span;
}

.square .container {
    width: 100%;
    height: 100%;
}

.square img,
.square .image {
    max-height: 90% !important;
    width: 100%;

}

.square .caption {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}