html {
  font-size: 100%;
}

body {
  font-family: arial;
  height: 90vh;
  width: 90vw;
  position: relative;
  margin: 3% auto;
  background: #2980b9;
  background: linear-gradient(to bottom right, #4ba4d4, #529cbb);
}

.container {
  display: grid;
  height: 100%;
  grid-gap: 3px;
  grid-template-rows: auto auto 2fr auto;
  position: relative;
}

.title {
  font-size: 2.5em;
  font-family: Nunito;
}

.instructions {
  padding: .5rem;
  color: white;
  display: flex;
  background: #02B65E;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.instructions:before {
  content: attr(class);
  width: 70%;
  height: 1em;
  margin-top: -10px;
  font-size: .7em;
  background: white;
  position: absolute;
  color: black;
  left: 0;
  top: 0;
  border-bottom: 3px solid #067840;
}

.main {
  display: grid;
  grid-gap: 5rem;
}

.main>div {
  padding: .5em;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  display: flex;
  flex-direction: column;
}

.sidebar>div {
  padding: .25em;
}

.canvas {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

canvas {
  width: 100%;
  height: 100%;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

.stats * {
  box-sizing: border-box;
}

.stats div:before {
  content: attr(class);
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -19px;
  display: block;
  color: white;
  font-size: .5em;
  padding: 0 2px;
}

.stats div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 2em;
  padding: 0 5px;
  background: white;
  border-radius: 10px;
}

.sidebar {
  position: absolute;
  max-width: 60px;
  padding: .25rem;
  opacity: .9;
  right: 0;
}

.sidebar div:before {
  content: attr(class);
  position: absolute;
  width: 100%;
  text-align: left;
  left: 0;
  font-size: .8em;
  opacity: .6
}

.sidebar button {
  border-radius: 50%;
  padding: .4rem;
  border: none;
}

.sidebar div {
  display: table;
  text-align: right;
  position: relative;
}

.sidebar svg {
  color: #222;
}

.sidebar button {
  background: #eee;
  box-shadow: inset 0 -3px 0 0px #e2e2e2;
  margin: 1em 0;
  padding:.5rem;
}

.sidebar button:hover {
  box-shadow: inset 0 0px 0 0px #e2e2e2;
  transform: translate(0,2px);
}

.disable-user-select{
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}