:root {
  --gray1: #eaeded;
  --gray2: #d3d6d8;
  --controls: #0055b8;
  --red: #e2574c;
  --orange: #ffb700;
  --blue: #3772ff;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  outline: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

.container {
  height: 100%;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
  -o-user-select: none;
  -moz-user-select: none;
}

#calc {
  padding: 1rem;
  padding-top: 2rem;
  font-size: 2em;
  background: var(--gray1);
  border-radius: 5%;
  border-width: 0.15rem;
  border-color: var(--gray2);
  border-style: solid;
  min-width: 20rem;
  max-width: 30rem;
  width: 40%;
  box-shadow: inset -4px 0 0 0px var(--gray2), inset 0 0 5px 2px var(--gray2);
}

.section {
  margin: 4% 0;
  display: grid;
  grid-template-columns: auto 20%;
}

.number-keys,
.control-keys {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: center;
}

.control-keys button,
.number-keys button {
  border-radius: 4px;
  text-align: center;
  transition: 260ms ease-out;
}

.control-keys button {
  background: var(--orange);
  font-weight: 400;
  margin-bottom: 4px;
  width: calc(96%/1);
  color: white;
}

.number-keys button {
  background: white;
  width: calc(100%/3.35);
}

button {
  font-size: 0.7em;
  margin: 1%;
  height: 30px;
}

button:hover,
button:active:not(.controls),
button:focus:not(.controls) {
  box-shadow: inset 0 -2px 0 0 var(--gray2), inset 0 3px 0 0 var(--gray1);
  opacity: 0.713;
  font-weight: 400;
}

.header {
  background: white;
}

input {
  width: 100%;
  border: 0px solid white;
  outline: 0;
  font-size: 1em;
  border-radius: 5px;
  padding: 0% 2%;
}

button {
  transition: box-shadow 70ms linear;
  border: none;
}

button:hover,
button:hover {
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.controls {
  border-radius: 4px;
  background: var(--blue);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 400;
  padding: 2% 0;
  box-shadow: inset -4px -4px 0 0 rgba(0, 0, 0, 0.2);
}

.controls:hover {
  box-shadow: none;
}

#results {
  text-align: right;
}

#equals,
#reverse-sign {
  background: var(--gray2)
}

#previous {
  font-size: 0.25em;
  padding-bottom: 1%;
  background: none;
  border: none;
  text-align: right !important;
  letter-spacing: 3px;
  color: var(--controls);
  font-weight: 400;
}