#board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

[data-cell] {
  background-color: #f2f2f2;
  border: 1px solid #808080;
  font-size: 80px;
  text-align: center;
}

#announce-winner {
  font-size: 50px;
}

/* user custom style ***************************/
:root {
  --main: #2c3e50;
  --red: #e74c3c;
  --green: #27ae60;
  font-family: Kalam;
}

body {
  font-size: 100%;
  font-weight: 700;
  background: var(--main);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#board {
  background: white;
  padding: 1rem;
  border-radius: 2px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  counter-reset: cellNum -1;
}

[data-cell] {
  background: none;
  border: none;
  color: var(--red);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

[data-cell]:hover {
  background: rgba(0, 0, 0, .035);
  box-shadow: inset 0 0 0 10px white;
  /* box-shadow: inset 0 0 0 10px white, inset 0 -17px 0 0px rgba(39, 174, 96, .45); */
}

.title {
  font-size: 4em;
  font-weight: 700;
  color: white;
}

#announce-winner {
  font-size: 1.7em;
  margin: 1rem auto;
  height: 1em;
  color: var(--green);
  display: flex;
  justify-content: center;
}

button {
  font-size: 1.75em;
  background: rgba(0, 0, 0, .15);
  background: transparent;
  border: none;
  display: flex;
  margin: 0.5rem auto;
  text-transform: uppercase;
  z-index: 10;
  outline: 0;
  padding: .8rem 0rem;
  line-height: 60%;
  box-shadow: inset 0 -8px 0 0 var(--main), inset 0 -11px 0 0 #fff;
  color: white;
}

button:hover {
  box-shadow: inset 0 -8px 0 0 var(--main), inset 0 -11px 0 0 var(--red) !important;
  transform: skewX(-10deg);
}

[data-cell]:nth-child(3n),
[data-cell]:nth-child(3n-1) {
  border-left: 9px solid var(--main);
  border-bottom: 0px solid transparent;
}

[data-cell]:nth-child(1n) {
  border-bottom: 9px solid var(--main);
}

[data-cell]:nth-child(1n + 7) {
  border-bottom: 0px solid #fff;
}

/* misc ********************/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* social icons ***********/
#social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.icon {
  height: 30px;
  opacity: 0.25;
  margin: 0 .5rem;
}

.icon:hover {
  opacity: .8
}